<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/imgs/YoonwiLogo.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Infos générales
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="true" scroll="false">
 <p>  Yoonwi nous aide à mieux circuler entre Dakar et sa banlieu. </p>
  <div *ngIf="followMe"> <p> Vous pouvez participer à l'aventure en activant le suivi ( bouton plus bas...) Let's GO!</p> </div>
  <div *ngIf="!followMe" color="secondary">  <p> Vous participer à l'aventure  maintenant ... Let's  enjoy!</p></div>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>NATIONALE </h1>
        </ion-col>
        <ion-col text-right>
          <ion-icon *ngIf="nationalTrafficAvg=='lent'" color="danger" name="icon-traffic"></ion-icon>
          <ion-icon *ngIf="nationalTrafficAvg=='rapide'" color="secondary" name="icon-traffic"></ion-icon>
          <ion-icon *ngIf="nationalTrafficAvg=='normal'" color="light" name="icon-traffic"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>PEAGE </h1>
        </ion-col>
        <ion-col text-right>
            <ion-icon *ngIf="autorouteTrafficAvg=='lent'" color="danger" name="icon-traffic"></ion-icon>
            <ion-icon *ngIf="autorouteTrafficAvg=='rapide'" color="secondary" name="icon-traffic"></ion-icon>
            <ion-icon *ngIf="autorouteTrafficAvg=='normal'" color="light" name="icon-traffic"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <h3> Alertes:</h3>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="md-hand"> </ion-icon> autoroute - accident Thiaroye
      <br>
      <ion-icon name="ios-information-circle-outline"> </ion-icon> nationale - lent CaseBa
      <br>
    </ion-card-content>

  </ion-card>
  <ion-item >
    <ion-label color="primary" *ngIf="!followMe" text-right> cliquez ici <ion-icon name ="md-arrow-round-forward"></ion-icon> </ion-label>
    <ion-label  *ngIf="followMe"> je vous suis ... :) </ion-label>
    <ion-toggle checked={{followMe}} [(ngModel)]="followMe"></ion-toggle>
  </ion-item>
  <div text-center>

    <button ion-button color="primary" round  (click)="trackMe()">carte...</button>
  </div>
  
</ion-content>